.app>main {
  margin: calc(var(--spacing) * 4);
}

app-navigation {
  nav {
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 2);
    border-bottom: 1px solid var(--main-border-light);
    background-color: var(--grey5);
  }

  nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

nav-link {
  li {
    margin-inline: calc(var(--spacing) * 2);
    background-color: var(--button-bg);
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
    border-radius: calc(var(--spacing) * 5);
    transition: background 0.1s ease-in-out;
    cursor: pointer;
  }

  li:hover {
    background: #dbdfe3;
  }

  li.active {
    /* background: var(--button-active-bg); */
    background: var(--blue1)
  }

  li a {
    text-decoration: none;
    color: var(--button-text);
    font-weight: var(--font-medium);
    font-size: var(--text-base);
    font-family: var(--font-sans);
  }

  li.active a {
    color: var(--blue0);
  }
}