.app>main {
  margin: var(--spacing-4);
}

app-navigation {
  nav {
    padding-block: var(--spacing-3);
    padding-inline: var(--spacing-2);
    border-bottom: 1px solid var(--main-border-light);
    background-color: var(--grey5);
  }

  nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

nav-link {
  li {
    margin-inline: var(--spacing-2);
    background-color: var(--button-bg);
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-4);
    border-radius: var(--radius-xl);
    transition: background 0.1s ease-in-out;
    cursor: pointer;
  }

  li:hover {
    background: #dbdfe3;
  }

  li.active {
    background: var(--button-active-bg);
  }

  li a {
    text-decoration: none;
    color: var(--button-text);
    font-weight: var(--font-medium);
    font-size: var(--text-base);
    font-family: var(--font-sans);
  }

  li.active a {
    color: var(--button-active-text);
  }
}