html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg);
  color: var(--main-text);
  font-size: 16px;
  font-family: var(--font-sans);
  font-weight: var(--font-normal);
}
