:root {
  /* Font families */
  --font-sans: "Google Sans Flex", system-ui, sans-serif;
  --font-mono: ui-monospace, "Courier New", monospace;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;

  /* Font weights */
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 600;

  /* Spacing scale */
  /* 4px */
  --spacing: 0.25rem;
  --spacing-1: var(--spacing);
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-4: calc(var(--spacing) * 4);
  --spacing-5: calc(var(--spacing) * 5);

  /* Border radius */
  --radius-md: 0.5rem;
  --radius-xl: 1.25rem;

  /* Named color scheme */
  --white: #fefefe;
  --black: #0a0a0b;
  --grey0: #444746;
  --grey1: #6a7282;
  --grey2: #b0b0b8;
  --grey3: #d2d2d6;
  --grey4: #e4ecf0;
  --grey5: #f8fafd;
  --red: #ce2d4f;
  --blue0: #00639b;
  --blue1: #c1e7ff;

  /* UI color mapping */
  --main-text: var(--black);
  --main-bg: var(--white);
  --main-border: var(--grey2);
  --main-border-light: var(--grey3);
  --header-text: var(--grey0);
  --header-bg: var(--white);
  --highlight-text: var(--red);
  --disabled-text: var(--grey2);
  --aside-text: var(--grey0);
  --button-text: var(--grey0);
  --button-bg: transparent;
  --button-active-text: var(--black);
  --button-active-bg: var(--grey4);
  --button-highlight-text: var(--red);
  --input-bg: var(--grey4);
  --input-text: var(--grey0);

  /* Typography */
  --font-header: var(--font-normal) 2.25rem / 2.75rem var(--font-sans);
  --font-label: var(--font-medium) 0.875rem / 1.25rem var(--font-sans);
}

/*
.-invertcolorscheme {
  --main-text: var(--white);
  --main-bg: var(--black);
  --main-border: var(--grey3);
  --main-border-light: var(--grey2);
  --header-text: var(--grey2);
  --header-bg: var(--black);
  --highlight-text: var(--red);
  --disabled-text: var(--grey1);
  --aside-text: var(--grey2);
  --button-text: var(--grey2);
  --button-bg: transparent;
  --button-active-text: var(--white);
  --button-active-bg: var(--grey1);
  --button-highlight-text: var(--red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text: var(--white);
    --main-bg: var(--black);
    --main-border: var(--grey3);
    --main-border-light: var(--grey2);
    --header-text: var(--grey2);
    --header-bg: var(--black);
    --highlight-text: var(--red);
    --disabled-text: var(--grey1);
    --aside-text: var(--grey2);
    --button-text: var(--grey2);
    --button-bg: transparent;
    --button-active-text: var(--white);
    --button-active-bg: var(--grey1);
    --button-highlight-text: var(--red);
  }

  .-invertcolorscheme {
    --main-text: var(--black);
    --main-bg: var(--white);
    --main-border: var(--grey2);
    --main-border-light: var(--grey3);
    --header-text: var(--grey0);
    --header-bg: var(--white);
    --highlight-text: var(--red);
    --disabled-text: var(--grey2);
    --aside-text: var(--grey0);
    --button-text: var(--grey0);
    --button-bg: transparent;
    --button-active-text: var(--black);
    --button-active-bg: var(--grey4);
    --button-highlight-text: var(--red);
  }
}
*/